
<!DOCTYPE html>

<html data-ng-app='myApp'>

<head>
  <title>Projeto</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/style.css.scss">
  
</head>

<body>
  <%= yield %>
</body>
</html>
